.popup {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease-in-out;
}

.popup.show {
	opacity: 1;
	z-index: 99;
}

.popup-wrapper {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	min-width: min(80%, 400px);
	max-width: min(80%, 700px);
	max-height: 80%;
	overflow-y: scroll;

	position: relative;
}

.popup-wrapper > h2 {
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup-input {
	width: 60%;
	padding: 8px;
	margin: 8px;
}

.popup-invalid {
	color: red;
	margin-bottom: 10px;
}

.popup-button {
	padding: 8px 16px;
	margin-top: 8px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#draw-fov {
	position: relative;
	width: 50px;
	height: 24px;
	display: inline-block;
	border-radius: 100px;
	box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
	margin: 10px;
}

#draw-fov .fill {
	position: absolute;
	left: 2px;
	top: 2px;
	bottom: 0;
	border-radius: 50%;
	background: #222436;
	width: 20px;
	height: 20px;
	transition: 0.4s left;
}

#draw-fov input {
	width: 0;
	visibility: hidden;
}
#draw-fov input:checked + span.fill {
	left: calc(100% - 22px);
}

.exit-form {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
